body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
}
.download {
  color: aquamarine !important;
  font-size: 16px;
}
.footer {
  color: gray;
  font-size: 16px;
  text-align: right;
}
#main-banner {
  font-size: 50px;
  font-weight: bold;
  color: white;
}
#section-header {
  font-weight: 300;
  font-size: 42px;
  color: white;
}
#section-text {
  font-size: 21px;
  color: gray;
}
